/* BASE STYLES */
body {
  font-family: "Lato", sans-serif;
  color: #ffffff;
  background-image: url("https://images.unsplash.com/photo-1583795484071-3c453e3a7c71?ixlib=rb-1.2.1&auto=format&fit=crop&w=1920&q=100");

  /* darken the background to make the text readable */
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: darken;

  /* bring the background up vertically */
  background-position-y: -150px;
}

/* ANIMATIONS */

@keyframes fade-in {
  0% {
    opacity: 0;
    /* to move the item vertically in the first stage */
    transform: translateY(15px);
  }
  100% {
    opacity: 1;
    /* to move the item vertically in thefinal stage and then we have to ho to the header and add animation element in order to header items moves up and animation works on them */
    transform: translateY(0px);
  }
}

/* HEADER */

.header {
  display: flex;
  /* put items in one line */
  align-items: center;
  /* adjust horizantal positioning , put as much space between flex items */
  justify-content: space-between;
  width: 1150px;
  margin-left: auto;
  margin-right: auto;
  /* intro animation for header items */
  animation: fade-in 2s;
}

.logo {
  font-size: 18px;
  font-weight: 700;
}

.links {
  list-style: none;
  /* to make the links sit horizantally */
  display: flex;
}

.link-item {
  margin-right: 25px;
}

.link {
  text-decoration: none;
  color: inherit;
  color: rgba(255, 255, 255, 0.65);
  font-weight: 500;
  font-size: 14 px;
  /* once you hover and used transition the color change smooth this way ⬇️ */
  transition: color 0.4s;
}
.link:hover {
  text-decoration: none;

  color: rgba(255, 255, 255, 1);

  font-weight: 500;
  font-size: 14 px;
}
